<div class="wrapper navigation-wrapper supply-navigation-wrapper page-width">
   <div class="navigation">
      <div class="main-nav full" id="main-nav">
         <ul class="nav nav--top-links">
            <li>
               <a href="/collections/new-arrivals" data-category="New Arrivals" class="">New Arrivals</a>
            </li>
            <li>
               <a href="/collections/best-sellers" data-category="Best Sellers" class="">Best Sellers</a>
            </li>
            <li>
               <a href="/collections/featured-products" data-category="Featured Brands" class="">Featured Products</a>
            </li>
            <li>
               <a href="/collections/sale"  class="salered">SALE</a>
            </li>
         </ul>
         <ul class="
            nav
            nav--expanded
            ">
            <li class="">
               <a href="/collections/equipment" data-category="Gear">Equipments</a>
               <ul class=" supply-dropdown ">
                  <li>
                     <a href="/collections/soft-wash-system" data-name="Bags &amp; Wallets" data-category="Bags &amp; Wallets">Soft Wash System</a>
                  </li>
                  <li>
                     <a href="/collections/pressure-washer-skid" >Pressure Washer Skid</a>
                  </li>
                  <li>
                     <a href="/collections/pressure-washing-trailer/" >Pressure Washing Trailer</a>
                  </li>
                  <li>
                     <a href="/collections/equipment-for-immediate-pickup">For Immediate Pickup</a>
                  </li>
                  <li>
                     <a href="/collections/pressure-washers">Pressure Washers</a>
                  </li>
                 
                  <li>
                     <a href="/pages/apply-for-financing" >Financing</a>
                  </li>
                 
               </ul>
            </li>
            <li class=" ">
               <a href="/collections/parts-supplies" data-category="Clothing">Parts/Supplies</a>
               <ul class="
                  supply-dropdown
                  ">
                  <li>
                     <a href="/collections/softwash-metering-valves">Metering Valves</a>
                  </li>
                  <li>
                     <a href="/collections/pressure-washer-tanks" >Pressure Washer Tanks</a>
                  </li>
                  <li>
                     <a href="/collections/chemical-injectors">Chemical Injectors</a>
                  </li>
                  <li>
                     <a href="/collections/hoses-hose-reels" >Hoses/Hose Reels</a>
                  </li>
                  <li>
                     <a href="/collections/wands-manifolds" >Wands/Manifolds</a>
                  </li>
                  <li>
                     <a href="/collections/softwash-pumps" >Pumps</a>
                  </li>
                  <li>
                     <a href="/collections/surface-cleaners" >Surface Cleaners</a>
                  </li>
                 <li>
                     <a href="/collections/tips/" >Tips/Nozzle Holder</a>
                  </li>
                  <li>
                     <a href="/collections/fittings/" >Fittings</a>
                  </li>
                 <li>
                     <a href="/collections/sesw-merchandise/" >SESW Merchandise</a>
                  </li>
                 <li>
                     <a href="/collections/parts-supplies/" > More…</a>
                  </li>
                 
                  
               </ul>
            </li>
            <li class=" ">
               <a href="/collections/chemicals" >Chemicals</a>
               <ul class="
                  supply-dropdown
                  ">
                  <li>
                     <a href="/collections/soft-wash-chemicals">House & Roof Washing</a>
                  </li>
                  <li>
                     <a href="/collections/degreaser" >Degreaser</a>
                  </li>
                  <li>
                     <a href="/products/monu-mental/">Eco-Friendly Exterior Cleaner</a>
                  </li>
                  <li>
                     <a href="/products/efflo-go-efflorescence-remover/">Efflorescence</a>
                  </li>
                  <li>
                     <a href="/collections/oxidation-remover">Oxidation Remover</a>
                  </li>
                  <li>
                     <a href="/collections/gutter-cleaner" >Gutter Cleaner</a>
                  </li>
                  <li>
                     <a href="/collections/bleach-neutralizer-plant-protect" >Bleach Neutralizer</a>
                  </li>
                 <li>
                     <a href="/collections/red-clay-stain-remover/" >Red Clay Stain Remover</a>
                  </li>
                 <li>
                     <a href="/collections/rust-remover/" >Rust Stain Remover</a>
                  </li>
                 <li>
                     <a href="/collections/graffiti-remover/" >Graffiti Remover</a>
                  </li>
                 <li>
                     <a href="/collections/deck-and-fence-cleaner/" >Deck and Fence Cleaner</a>
                  </li>
                 <!-- <li>
                     <a href="/collections/subscriptions" >Subscriptions</a>
                  </li> -->
                 <li>
                     <a href="/collections/combo-packs" >Combo Packs</a>
                  </li>
                 <li>
                     <a href="/pages/bulk-sodium-hypochlorite" >Bulk Sodium Hypochlorite</a>
                  </li>
                 <!-- <li>
                     <a href="/pages/soft-wash-batch-mix-calculator" >Soft Wash Batch Mix Calculator And Bleach Percentage Chart</a>
                  </li> -->
               </ul>
            </li>
           
             
            <li class="
               ">
               <a href="/collections/training" >Training</a>
               <ul class="
                  supply-dropdown
                  ">
                  <li>
                     <a href="/products/sesw-softwash-101-training-class" >Softwash 101 Class</a>
                  </li>
                  <li>
                     <a href="/products/softwash-101-training-video" >Softwash 101 Video</a>
                  </li>
                  <li>
                     <a href="https://cotyy.krtra.com/t/WrnygI2hoSdT" >How to Build A Rig Course</a>
                  </li>
                  <!-- <li>
                     <a href="https://washcon.kartra.com/page/WashCon" >WASH-CON 2023</a>
                  </li> -->
                 
               </ul>
            </li>
            <li class="
               ">
               <a href="/collections/exterior-safety-manual/" >Admin Essentials</a>
               <ul class="
                  supply-dropdown
                  ">
                  <li>
                     <a href="https://southeastsoftwas.krtra.com/t/3ZTcoGJR1jYf" target="_blank" >Call Answering</a>
                  </li>
                  <li>
                     <a href="https://bit.ly/LEAN199" target="_blank">Contractor Websites</a>
                  </li>
                  <li>
                     <a href="/collections/exterior-safety-manual" >Cleaning Safety</a>
                  </li>
                  <li>
                     <a href="https://sesoftwash.krtra.com/t/V35CgzyEUcCp" target="_blank">Customer Contract</a>
                  </li>
                  <li>
                     <a href="https://lddy.no/11ba8" target="_blank">Printed Marketing</a>
                  </li>
                  <li>
                     <a href="https://lddy.no/124l9" target="_blank">Online Media Ads</a>
                  </li>
                  <li>
                     <a href="https://amzn.to/3SgesT1" target="_blank">Books We Recommend</a>
                  </li>
                 <li>
                     <a href="/soft-wash-batch-mix-calculator/" target="_blank">Mix Calculator</a>
                  </li>
               
               </ul>
            </li>
         </ul>
      </div>
   </div>
</div>
<style>
  /* .navigation {
    letter-spacing: 1px;
    font-family: var(--font-knockout);
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .75px;
    overflow: visible;
    margin-inline: auto;
    padding-inline: 5rem;
} */
  .navigation{
    margin-top:5px;
  }
  .navigation .nav--top-links {
    margin:0px;
        text-align: center;
   padding: 1.8rem 0px;
    border-top: 1px solid #000;
    line-height: 0px;
  }
  .supply-navigation-wrapper .main-nav .nav::before{
    display:none;
  }
  .navigation .nav--top-links li{
    padding-bottom:0px !important;
    margin: 0 10px;
  }
  .supply-navigation-wrapper .main-nav .nav--expanded{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
    gap: 1rem;
    border-top: 1px solid var(--uc-color-black);
    margin: 0px;
    padding: 0px;
    padding-top: 1.8rem;
    border-bottom:1px solid #000;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-gap: 10px;
  }
  .supply-navigation-wrapper .main-nav .nav>li {
    font-size: 12px;
    line-height: 1;
    position: relative;
    padding-bottom: 1.8rem;
    display: inline-block;
    zoom: 1;
}
 .supply-dropdown {
    margin: 0;
    padding: 0;
    background: #fff;
    list-style: none;
    text-align: left;
}
  .supply-navigation-wrapper .main-nav .nav>li {
    font-size: 12px;
    line-height: 1;
  }
 
  .supply-navigation-wrapper .main-nav li a {
    margin: 0;
    color:#000;
    text-transform:uppercase;
    text-decoration:none;
    font-weight:600;
    font-family: Helvetica Neue, sans-serif;
    margin: 0px;
    padding: 0px;
        background-color: transparent;
}
  .supply-dropdown li a{
    font-weight:400 !important;
    
  }
  .supply-dropdown li a:hover{
     font-weight:600 !important;
  }
  .nav--expanded a {
    line-height: 1.5!important;
    display: inline-block!important;
}
  .collection #product-grid .price {
    display:inline-block;
    font-size:12px;
  }
  .salered{
    color:#e74e3c !important;
  }
  .collection #product-grid .card--card.card--media>.card__content{
    padding:0px
  }
  .collection #product-grid .price-item.price-item--sale{
    color:#e74e3c;
  }
  #menu-drawer, #menu-drawer .menu-drawer__submenu{
    background-color:#000000e6;
  }
  #menu-drawer .menu-drawer__menu li a,  #menu-drawer  .menu-drawer__menu-item,  #menu-drawer .menu-drawer__close-button{
    color:#fff;
  }
</style>
{% if template.name == 'collection' or template.name == 'product'  %}
  <style>
    .HeaderMenu {
  display:none;
} 
  </style>
 
  {% endif %}