<section class="home-page-reviews">
  <div class="page-width">
<div class="yotpo bottomLine" data-product-id="">
</div>
    <!-- <script type="text/javascript" src="https://rms.footbridgemedia.com/embed/v7/166361542800962/3/1234568021111" async></script><div id="bf-revz-widget-1234568021111" ></div>
      </div> -->
</section>
{% schema %}
  {
    "name": "Home Total Reviews",
    "class": "index-section index-section-home-custom",
    "settings": [

      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      }
    ],
    "presets": [
      {
        "name": "Home Total Reviews",
        "category": "text"
      }
    ]
  }
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}